*
{
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    color: #bcbcbc;
}
div#menu
{
    z-index: 1;
    position: absolute;
    width: 65px;
    height: 100%;
    background-color: #2f3030;
    overflow: hidden;
    -webkit-transition: width 0.5s;
}
div#menu:hover
{
    width: 200px;
}
div#logo-principal
{
    width: 40px;
    height: 40px;
    margin: 10px;
    background-image: url(../images/menu.jpg);
}
div#logo-principal p
{   
    margin-left: 55px;
	line-height: 40px;
}
div#contenedor-general-frame
{
	margin-top: 70px;
}
div.contenedor-general
{    
	width: 150px;
	height: 40px;
    margin-left: 10px;
    margin-top: 30px;
}
div.logo-interior
{
	width: 40px;
    height: 40px;
    background-image: url(../images/menu.jpg);
    float: left;
}
div.logo-interior p
{
	margin-left: 55px;
	margin-top: 10px;
}
div.logo-interior:hover
{
	background-image: url(../images/menu_hover.jpg);
}
div.logo-interior p a:hover
{
	color: #CC0000;
}
div#content
{
	width: 100%; 
    height: 100%;
    position: absolute;
	float: left;
    display: block;
	margin-left: 65px;
}
div#content #slogan
{
    font-size : 50px; 
    margin-top: 25%;
    text-align: center;
}
